
/* @import url('https://font.googleapis.com/css?family:Raleway:200,100,400'); */
@import url('https://fonts.google.com/specimen/Raleway?selection.family=Raleway:400,400i,700');


* {
    width: 0 auto;
    margin: 0 auto;
    padding: 0 auto;
}


body {
    background-color: whitesmoke;
}



.section-one {
    background: #333 center / cover url(./img/tree.jpg);
    text-align: center;    
    position: relative;   
    height: 500px;
    background-size: 100% 100%; 
 /*   position: -webkit-sticky;  */
 /*   position: sticky;  */
    top: 0;              
}


/*this the welcome letter */
span {
    position: relative;
    top: 90px;
}


/*this the nadia ms name*/
h6 {
    position: relative;    
    font-size: x-small;
    right: 10px;
    top: 10px;   
    font: italic 10px serif;
    width: 20%;    
}




/* this is the second one */
.mid-wrapp {
    background-color: rgba(255, 255, 255, 0);
    position: relative;    
    text-align: center;
    /* top: 140px; */    
    height: 65px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;  
    
}


.section-one h6 {
    font-family: "Lexend Deca", sans-serif;
    color: rgba(235, 120, 13, 0.644);    
    margin-top: 40px;
    margin: 0;
    font-size: 2em;
    padding: 2em;
    text-shadow: 5px 5px 200px;       
}

.container {
    position: relative;
    color: white;
    bottom: 15em;
}


.section-two h2 {
    font-size: 2em;
    padding: 1em;
    font-size: 2em;
    width: 60%;  
}


/*this for the svg */
.curve {
    /* fill: #fff; */
    fill: whitesmoke;
    height: 15%;
    width: 100%;
    position: absolute;    
    bottom: 0;
    left: 0;
}


/*paragraph*/
p{
    font-size: x-large;
    margin: 30px;
}  


/*this for the columns*/
.columns-social {
    position: relative;    
    grid-template-columns: repeat(2, auto);
    display: grid;
    max-width: 50%;
    top: 90px;
}


footer { 
    position: relative;   
    background-color: whitesmoke;
    text-align: center;
    color: rgba(231, 120, 17, 0.925);;
    width: 100%;     
    height: 60px;
    overflow: hidden;
}


@media(min-width: 1200px) {
    h6 {
        font-size: 5rm;
   }
}


@media(min-width: 800px) {
    .section-one {
        padding: 0 1rm;        
    }

    h6{
        font-size: 3rm;
    }
}


@media(max-width: 500px) {
    h6 {
        font-size: 2.5rm;
    }

    h6{
        font-size: 1.5rm;
    }
}



/*for the logo*/
@media(min-width: 1200px) {
    h6 {
        font-size: 5rm;
   }
}


@media(min-width: 800px) {
    .logo {
        padding: 0 1rm;        
    }

    h6{
        font-size: 3rm;
    }
}


@media(max-width: 500px) {
    h6 {
        font-size: 5.5rm;
    }

    h6{
        font-size: 5.5rm;
    }
}


@media(max-width: 150px) {
    .logo {
        font-size: 2.1rm;

    }
    h6 {
        font-size: 2.1rm;
    }

    h6{
        font-size: 2.1rm;
    }
}






@media(min-width: 1200px) {
    h4 {
        font-size: 5rm;
   }
}


@media(min-width: 800px) {
    .section-one .logo {
        padding: 0 1rm;        
    }

    h6{
        font-size: 3rm;
    }
}


@media(max-width: 500px) {
    h6 {
        font-size: 2.5rm;
    }

    h4 {
        font-size: 1.5rm;
    }
}





@media(min-width: 1200px) {
    h2 {
        font-size: 5rm;
   }
}


@media(min-width: 800px) {
    .container {
        padding: 0 1rm;        
    }

    h2{
        font-size: 3rm;
    }
}


@media(max-width: 500px) {
    h2 {
        font-size: 2.5rm;
    }

    p {
        font-size: 1.5rm;
    }
}


